$root: ":root";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap")

$color-body: #e5e5e5
$color-accent: #6070ff
$color-text: #344563
$color-headings: #172b4d
$white: #fff
$border: border-bottom-left-radius

*,
*::after,
*::before
  margin: 0
  padding: 0
  box-sizing: border-box

html
  font-size: 62.5%

body
  font-family: "Poppins", sans-serif
  font-size: 1.6rem
  background: #{$root}--color-body

.header
  background: $white
  position: fixed
  top: 0
  height: 5rem
  width: 100%
  z-index: 1

.header-container
  display: flex
  justify-content: space-between
  align-items: center
  padding: 1.5rem 2rem

.logo
  text-decoration: none
  color: $color-accent
  font-size: 1.8rem
  font-weight: 700

@media screen and (max-width: 768px)
  .hamburger
    display: block

.hamburger
  position: relative
  z-index: 1000
  top: 21%
  right: 1rem
  padding: 4px
  cursor: grabbing
  margin-bottom: 2rem

.navigation-bar
  display: inline-block
  position: fixed
  transform: translateY(-100%)
  transition: transform 0.6s ease-in-out
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: #6070ffe6
  backdrop-filter: blur(2px)
  list-style: none
  padding-top: 6rem

.nav-bar
  display: inline

.navigation-bar li
  margin: 3rem 0

.navigation-bar li a
  color: $color-body
  text-decoration: none

i.cross-icon.fa-solid.fa-times
  display: none
  position: fixed
  color: $white

.list-item
  font-size: 3rem
  font-weight: 600
  padding: 0 3rem

.show-menu
  transform: translateY(0)

.fa-solid
  color: $color-accent
  font-size: 20px

.fa-times
  font-size: 20px
  display: none

.headline-section
  background: $white no-repeat url(../images/headline.svg)
  background-size: 100%
  border-bottom-left-radius: 75px
  height: 100vh
  object-fit:
